<div class="container" style="max-width: 400px; margin: auto">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h1>Pratos</h1>
      </div>

      <div class="ui-g-12">
        <label for="prato">Prato
          <input placeholder="Prato" id="prato" pInputText type="text" name="descricao"
          formControlName="descricao">
        </label>

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe uma descrição"></app-message>
      </div>

      <div class="ui-g-12">
        <label for="preco">Preço
          <input placeholder="Preço" id="preco" pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
        </label>
      </div>

      <div class="ui-g-12">
        <label for="quantidade">Quantidade
          <input placeholder="Quantidade" pInputText type="text" name="quantidade" formControlName="quantidade">
        </label>

        <app-message [control]="formulario.get('quantidade')" error="obrigatoriedade" text="Informe uma descrição"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <a routerLink="/admin/pratos">Lista de Pratos</a>
      </div>
    </div>
  </form>
</div>
