<div class="container" style="max-width: 400px; margin: auto">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h1>Pratos</h1>
      </div>

      <div class="ui-g-12">
        <input placeholder="Prato" pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe uma descrição"></app-message>
      </div>

      <div class="ui-g-12">
        <input placeholder="Preço" pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
      </div>

      <div class="ui-g-12">
        <input placeholder="Quantidade" pInputText type="text" name="quantidade" formControlName="quantidade">

        <app-message [control]="formulario.get('quantidade')" error="obrigatoriedade" text="Informe uma descrição"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
        <a routerLink="/admin/pratos">Back to List</a>
      </div>
    </div>
  </form>
</div>
