<div class="container">

  <form autocomplete="off" (ngSubmit)="pesquisar()">

    <div class="ui-g-12">
      <h1>SaveThePlanet</h1>
    </div>

    <div class="ui-g-12">
      <input placeholder="Descrição" pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Search"></button>
    </div>

  </form>

  <div class="ui-g-12">
    <p-table [value]="pratos" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">
            Nenhum prato encontrado
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Descrição</th>
          <th class="col-valor-header">Valor</th>
          <th class="col-valor-header">Quantidade</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prato>
        <tr>
          <td>
            <span class="p-column-title">Descrição</span>
            {{ prato.descricao }}
          </td>
          <td class="col-valor">
            <span class="p-column-title">Valor</span>
            {{ prato.valor | number:'1.2-2' }}
          </td>
          <td class="col-valor">
            {{ prato.quantidade }}
          </td>
          <td class="col-acoes">
            <span class="p-column-title"></span>
            <button pButton icon="pi pi-home" pTooltip="Entregar" tooltipPosition="top" (click)="confirmarEntrega(prato)" [disabled]="prato.status === 'ENTREGANDO'"></button>
            <button pButton icon="pi pi-dollar" pTooltip="Pagar" tooltipPosition="top" (click)="confirmarPagamento(prato)" [disabled]="prato.status !== 'ENTREGANDO'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>