<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a routerLink="/admin/pratos">Pratos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a routerLink="/admin/usuarios">Usuários</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a routerLink="/admin/pedidos">Pedidos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a routerLink="/admin/vendas">Vendas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_CLIENTE')"><a routerLink="/cliente/pratos/cozinheiras">Cozinheiras</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_CLIENTE')"><a routerLink="/cliente/pratos/pedidos">Pedidos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_CLIENTE')"><a routerLink="/cliente/pratos/vendas">Vendas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_COZINHEIRA')"><a routerLink="/pratos/pedidos">Pedidos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_COZINHEIRA')"><a routerLink="/pratos/vendas">Vendas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_COZINHEIRA')"><a routerLink="/pratos">Pratos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ENTREGADOR')"><a routerLink="/entregador/pratos">Pedidos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ENTREGADOR')"><a routerLink="/entregador/pratos/vendas">Vendas</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
