<div class="container" style="max-width: 400px; margin: auto">
    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
  
      <div class="ui-g ui-fluid">
        <div class="p-col-12">
          <h1>SaveThePlanet</h1>
        </div>
  
        <div class="ui-g-12">
          <input pInputText type="text" name="nome" placeholder="Nome" formControlName="nome"
            required #nome>
        </div>

        <div class="ui-g-12">
          <input pInputText type="email" name="email" placeholder="E-mail" formControlName="email"
            required #nome>
        </div>

        <div class="ui-g-12">
          <input pInputText type="password" name="senha" placeholder="Senha" formControlName="senha"
            required #nome>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="cpf" placeholder="Cpf" formControlName="cpf"
            required #cpf>
        </div>

        <div class="ui-g-12" formGroupName="perfil">
          <p-dropdown name="perfil" [options]="perfis" [filter]="true" placeholder="Selecione" formControlName="codigo" required></p-dropdown>
        </div>

        <div class="ui-g-12">
          <p-dropdown placeholder="Selecione" [filter]="true" [options]="paises" name="paisSelecionado" #pais (onChange)="carregarEstados(pais.value)" required></p-dropdown>
        </div>

        <div class="ui-g-12">
          <p-dropdown placeholder="Selecione" [filter]="true" [options]="estados" name="estadoSelecionado" (onChange)="carregarCidades(estado.value)" #estado required [disabled]="!pais.value"></p-dropdown>
        </div>

        <div class="ui-g-12" formGroupName="cidade">
          <p-dropdown placeholder="Selecione" [filter]="true" [options]="cidades" formControlName="codigo" name="cidade" required [disabled]="!estado.value"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="bairro" placeholder="Bairro" formControlName="bairro"
            required #bairro>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="rua" placeholder="Rua" formControlName="rua"
            required #rua>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="numero" placeholder="Número" formControlName="numero"
            required #numero>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="complemento" placeholder="Complemento" formControlName="complemento"
            required #complemento>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Register"></button>
          <button style="margin-top: 10px;" pButton type="button" label="New" class="p-button-info" (click)="novo()"></button>
          <a routerLink="/login">Login</a>
        </div>
      </div>
  
    </form>
  </div>
  